@font-face {
    font-family: 'chivo';
    src: url(fonts/Chivo/Chivo-Regular.ttf),
        url(fonts/Chivo/Chivo-Light.ttf),
        url(fonts/Chivo/Chivo-Black.ttf),
        url(fonts/Chivo/Chivo-BlackItalic.ttf),
        url(fonts/Chivo/Chivo-Bold.ttf),
        url(fonts/Chivo/Chivo-BoldItalic.ttf),
        url(fonts/Chivo/Chivo-Italic.ttf),
        url(fonts/Chivo/Chivo-LightItalic.ttf);
}

body {
    background-color : #FEF8F0;
  }

 nav {
    background-color : #FEF8F0;
  }

#myStories{
    color :#F25B61;
    font-family: 'chivo';
}

 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

article a{
    color: #4D0892;
    text-decoration: none;
    font-weight: normal;
}
.movieImage{
    border-radius: 7px;
    border: 4px solid white;
    box-shadow: 1px 1px 10px #555;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}
.jumbotron{
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}
.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 6px;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
    padding: 48px;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 300;
}
.well{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}

.btnRouge{
    background-color: #F25B61;
    color: white;
    border-radius: 5px;
}

#btnInscription{
    background-color: #FFCECE;
    border-radius: 5px;
}

#btnInscription:hover{
    background-color: #e79d9d;
    color: #fffdf6;
}

.storyTitle{
    color: #F25B61;
    font-weight: bold;
    font-size: 20px;
}

.formulaireConnexion{
    border-radius: 10px;
    background-color: #FEF2E0;
    border: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position :relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
    width: 600px;
}

.formulaireInscription{
    border-radius: 10px;
    background-color: #FEF2E0;
    border: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position :relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5%);
    width: 600px;
}

#btnValidate{
    background-color: #F25B61;
    color: white;
    border-radius: 5px;
    padding: 15px;
    width: 200px;
}

.imgCaroussel{
    border-radius: 5px;
    margin-bottom: 10px;
}